.modal.fade: .modal-dialog: .modal-content
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h4.modal-title Trade contract
  
  .modal-body.user-text!= markdown(contract)
  
  .modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Close
