doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=static_url+'/libs.css')
    link(rel='stylesheet', href=static_url+'/user/join.css')
  body
    .container.password-print
      .page-header
        h3 Bitrated paper backup for account: #{ username }

      .row
        .col-sm-8
          h4 Mnemonic passphrase #[small Used to log in to your account.]
          .passphrase: .well= seed

          hr

          h4 2FA password #[small Used to control funds and authorize transactions.]
          .passphrase: .well= password


        .col-sm-4: img(src=qr_uri)

      hr

      .text-muted: :markdown
        Keep your passwords in a secure location.
        It provides access to your Bitrated account and to funds in on-going transactions.
