+js('browser-support.js')

.container.unsupported-browser: .bs-callout.bs-callout-warning
  :markdown
    ### Sorry! Your browser is not supported.

    We recommend using this website with a recent version of
    [Firefox](https://www.mozilla.org/en-US/firefox/new/)
    or [Chrome](https://www.google.com/chrome/).

    **Why is my browser not supported?**

    Your browser does not seem to support the [Web Cryptography API](https://www.w3.org/TR/WebCryptoAPI/),
    which is required for for securely generating private keys.

    Please [refer here](https://caniuse.com/#feat=getrandomvalues)
    for a full browser compatibility table.

noscript
  style.
    .content,.page-header{display:none}
  .container: .bs-callout.bs-callout-warning
    :markdown
      ### JavaScript is required

      Your browser does not appear to support JavaScript, or it has been turned off.
      Bitrated heavily relies on JavaScript and cannot be used without it.
