extend ../layout
include inc/fees-group

append vars
  - page_title = 'Trust agent settings'
  - active_account_menu = '/settings/agent'
  - await_js = true
  - bundle = 'user/settings/agent'
  - include_header = true

append css
  +css('user/settings/agent.css')

block page-header
  :markdown
    # Trust agent settings 

    Setup your trust agent settings and fee structure

block account-content
  .container-narrow.fees-structure
    form(action='//')

      .panel.panel-default
        .panel-heading: .panel-title Fee structure
        .panel-body
          - fees = user.arbitration_fees

          h3 Base fee
            = ' '
            small charged for all transactions, regardless of dispute.
          +fees-group('base')

          h3 Dispute fee
            = ' '
            small charged <strong>in addition to</strong> the base fee in case of dispute.
          +fees-group('dispute')

          .help-block All amounts are denominated in BTC. Leave min/max empty for none.

      .panel.panel-default
        .panel-heading: .panel-title Agent options
        .panel-body
          .form-group: label.checkbox-inline
            input(type='checkbox', name='auto_accept', value='1', checked=user.auto_accept)
            |  Auto-accept trades without manual review
            small.help-block (requires #[a(href='/settings#addresses') setting a default payment address])

      button.btn.btn-primary.btn-lg(type='submit') Save
