.modal.fade: .modal-dialog: .modal-content
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    if title
      h4.modal-title= title
  
  .modal-body= message
  
  .modal-footer
    button.btn.btn-primary(type='button', data-dismiss='modal') Close
