extend ../../layout

append vars
  - page_title = 'Link Airbnb account'
  - include_header = true

block page-header
  h1 Link Airbnb account

block content
  .container-narrow
    if error
      .bs-callout.bs-callout-danger= error

    .row: form.col-md-8(method='post')
      +csrf

      .form-group
        label(for='username') Airbnb profile URL:
        input#username.form-control(type='text', name='url', value=bturl, required, autofocus,
          placeholder='e.g. https://www.airbnb.com/users/show/123456789')

      :markdown
        To verify your ownership of the Airbnb account,
        add the following text to [your profile](https://www.airbnb.com/users/edit/)
        "Describe Yourself" field:

      pre= message

      button.btn.btn-primary.btn-lg(type='submit') Authenticate
