extend ../../layout

append vars
  - page_title = 'Link Bitify account'
  - include_header = true

block page-header
  h1 Link Bitify account

block content
  .container-narrow
    if error
      .bs-callout.bs-callout-danger= error

    .row: form.col-md-8(method='post')
      +csrf

      .form-group
        label(for='username') Bitify username:
        input#username.form-control(type='text', name='username', value=connect_user, required, autofocus)

      :markdown
        To verify you own this Bitify account,
        [send us a private message on Bitify](#{ pm_url })
        with the following text as the subject line: (leave the message body empty)

      pre= message
      br

      button.btn.btn-primary.btn-lg(type='submit') Authenticate
