extend ../../layout

append vars
  - page_title = 'Link Paxful account'
  - include_header = true

block page-header
  h1 Link Paxful account

block content
  .container-narrow
    if error
      .bs-callout.bs-callout-danger= error

    .row: form.col-md-8(method='post')
      +csrf

      .form-group
        label(for='username') Paxful username:
        input#username.form-control(type='text', name='username', value=connect_user, required, autofocus)

      :markdown
        To verify you own this Paxful account,
        add the following text to your profile bio
        (under the [settings page](https://paxful.com/account)):

      pre= message

      button.btn.btn-primary.btn-lg(type='submit') Authenticate
