form.password-dialog.modal.fade(action='//'): .modal-dialog.modal-lg: .modal-content
  
  .modal-body
    :markdown
      ## You are almost done!

      The mnemonic passphrase below was generated for your account.
      Please **keep a safe copy** of *both* the mnemonic passphrase *and* your provided 2FA password.

    .passphrase
      .well= seed
      .controls.clearfix
        span(role='print') #[span.glyphicon.glyphicon-print] Print backup
        = ' '
        small.text-muted (includes mnemonic passphrase and 2FA password)
        // span.pull-right(role='qr') #[span.glyphicon.glyphicon-qrcode] Show QR

    :markdown
      The mnemonic will be used to log-in to your account,
      while your provided 2FA password will be used as an additional layer of security
      for accessing funds and authorizing transactions.

    :markdown
      **Heads up!**
      Your passwords directly represent your private keys and cannot be recovered under any means.
      Losing access to your passwords will result in
      *losing access to your account and funds in on-going transactions*.

  .modal-footer
    //- .text-muted: :markdown
      **Heads up!**
      We do not keep a backup of your passwords and cannot recover them under any means.
      Losing access to your passwords will result in
      *losing access to your account and funds in on-going transactions*.

    .checkbox: label
      input(type='checkbox', role='disclaimer')
      | I understand the importance of my passwords and kept a safe copy of them.

    button.btn.btn-primary.btn-lg(type='submit', disabled) Confirm &amp; Login

    //-.text-muted.notes
      :markdown
        <span class="glyphicon glyphicon-lock"></span>
        Your passwords and private keys are never processed by our servers and are solely handled client-side.
        If Bitrated ever becomes unavailable, your passwords can be used to restore access
        to your keys and funds. Your money is always under your control.
