@media (max-width:400px)
  .content .btn-primary
    display block
    width 100%

.password-dialog
  font-size 16px
  .modal-body
    padding 35px 35px 15px
    h2
      margin 0 0 30px
      color #7A6592
      font-weight bold
      font-size 36px
  .modal-footer
    padding 15px 35px 35px
    text-align left

.password-qr-dialog img
  width 100%

.legacy-agent-notice
  display none

.gen-pass
  height 67px
  @media (max-width: 767px)
    height 50.5px

.passphrase
  margin 20px 0
  border 1px solid #ecd9b9
  border-radius 5px

  .well
    padding 15px
    margin 0
    border-radius 0
    font-family monospace
    font-size 1.2em
    background #f8eee4
    box-shadow none
    -webkit-box-shadow none
  .controls
    padding 10px 15px
    border-top 1px solid #ecd9b9
    font-size 1.2em

    span
      cursor pointer

.password-print
  .passphrase
    border-color #ddd
  .well
    background #fafafa
