.trades-list
  .controls
    margin-bottom 2em

    .btn-primary
      float left
      font-weight bold
    .search
      float right

    @media (max-width: 767px)
      .btn-primary
        float none
      .search
        float none
        margin-top 15px

        .form-control
          max-width 17em
