.release
  .controls
    margin-top 40px

    button
      font-size 18px
      @media (max-width:595px)
        margin-bottom 5px
        display block
        width 100%
        font-size 16px

  .tx-builder
    .input-group
      width 35em

  .address
    width 26em
  .amount
    width 13em !important
    .input-group-addon
      padding 0
    .currency
      padding 0 5px
    button
      padding 10px 5px

  .submit
    button, p
      float left
    p
      margin 10px 0 0 5px

.tx-requests
  margin-top 3em

.tx-dialog
  tfoot th
    text-align right
